<section id="work" class='section--container section-work'>
    <h1 class='section__h1'>projects</h1>
    <article class='section__content'>
        <div class='work-samples'>
            <% workHighlights.forEach((workInfo, index) => { %>
                <div class='work-sample <%= index%2 !== 0 ? "sample--inversed" : "" %>'>
                    <div class='work-sample__media'>
                        <img class='media__img' src='<%= workInfo.img %>' alt='image-screenshot' />
                    </div>
                    <div class='work-sample__body'>
                        <h2 class='work-sample__title'>
                            <%= workInfo.title %>
                        </h2>
                        <div class='work-sample__desc'>
                            <%= workInfo.desc %>
                        </div>
                        <div class='work-sample__link'>
                            <a class='card__action-link' href='<%= workInfo.link %>' target='_blank'>Visit</a>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </article>
</section>